<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#009B77;">
    
    <h1 style="text-align:center;">Sai Concept School</h1>

    
  
    <form method = "POST" action = "/Insertrecord" style="margin-left:540px;margin-top:150px;margin-right:500px;">
    {% csrf_token %}
    <div >
    <label> Name </label>
    <input type="text" Name="empname" placeholder="Enter Employee Name" required style="margin-left:43px;"><br/><br/>
    <label>   Email </label>
    <input type="text" placeholder="Enter Email" Name="email" requrired style="margin-left:43px"><br/><br/>
    <label> Password </label>
    <input type='text' placeholder="Enter Password" Name="password" required style="margin-left:20px"><br/><br/>

    <input type="submit" value="Login" style="margin-left:80px">

    </div>

    </form>

    


</body>
</html>